PORT=3000
# GRACIAS A NATS LAS SIGUIENTES VARIABLES DE ENTORNO NO HACEN FALTA EN NINGUN MICROSERVICIO
# PRODUCTO_MICROSERVICE_HOST=localhost
# PRODUCTO_MICROSERVICE_PORT=3001

# # PEDIDOS_MICROSERVICE
# PEDIDOS_MICROSERVICE_HOST=localhost
# PEDIDOS_MICROSERVICE_PORT=3002

# Para NATS
# separamos por coma ya que las variables de entorno pueden ser arrays
# NATS_SERVERS='nats://localhost:4222,nats://localhost:4223'
NATS_SERVERS='nats://localhost:4222'